
#theThtr {
  width: 100px;
  height: 450px;
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: rgba(100, 100, 100, 0.5);
}

#theSprng {
  width: 8px;
  height: 190px;
  position: absolute;
  left: 46px;
  top: 10px;
  background-color: rgba(255, 255, 255, 1.0);
}

#theWght {
  width: 52px;
  height: 50px;
  position: absolute;
  left: 24px;
  top: 200px;
  background-color: rgba(255, 255, 255, 1.0);
}

#pltDiv {
  width: 310px;
  height:200px;
  position: absolute;
  left: 160px;
  top: 20px;
  border: 3px solid #eeeeee;
  background-color: rgba(100, 100, 100, 0.5);
}

#clckDiv {
  width: 310px;
  height: 60px;
  position: absolute;
  left: 160px;
  top: 230px;
  border: 3px solid #eeeeee;
}

#timerLbl {
  position: absolute;
  left: 20px;
  top: 15px;
  padding-right: 0px;
  font-size: 100%;
}

#liveTimerFld {
  width: 150px;
  height: 40px;  
  position: absolute;
  left: 100px;
  top: 5px;
  border: 5px solid #d3d3d3;
  font-size: 100%;
  padding-left: 5px;
}

#acDesignationDiv {
  width: 310px;
  height: 162px;
  position: absolute;
  left: 160px;
  top: 310px;
  border: 3px solid #eeeeee;
}

#acHertzLbl {
  position: absolute;
  left: 30px;
  top: 10px;
  border: 3px solid #ffffff;
}

#acHertz {
  width: 150px;
  height: 40px;
  position: absolute;
  left: 110px;
  top: 10px;
  border: 5px solid #d3d3d3;
  padding-left: 5px;
}

#acNoteLbl {
  position: absolute;
  left: 30px;
  top: 40px;
  border: 3px solid #ffffff;
}

#acNote {
  width: 150px;
  height:40px;
  position: absolute;
  left: 110px;
  top: 40px;
  border: 5px solid #d3d3d3;
  padding-left: 5px;
}

#acOctaveLbl {
  position: absolute;
  left: 30px;
  top: 70px;
  border: 3px solid #ffffff;
}

#acOctave {
  width: 150px;
  height:40px;
  position: absolute;
  left: 110px;
  top: 70px;
  border: 5px solid #d3d3d3;
  padding-left: 5px;
}

#spacerDiv {
  width: 300px;
  height:10px;
  position: absolute;
  left: 40px;
  top: 500px;
  border: 3px solid #ffffff;
}
